openapi: 3.0.3
info:
  title: Agora API
  description: Human-only social platform API
  version: 1.0.0
  contact:
    name: Agora Team
    email: api@agora.app

servers:
  - url: https://api.agora.app/v1
    description: Production server
  - url: https://staging-api.agora.app/v1
    description: Staging server

paths:
  /auth/swa/begin:
    post:
      summary: Begin Sign in with Apple flow
      tags: [Authentication]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SWABeginRequest'
      responses:
        '200':
          description: Apple authentication URL
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SWABeginResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /auth/swa/finish:
    post:
      summary: Complete Sign in with Apple flow
      tags: [Authentication]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SWAFinishRequest'
      responses:
        '200':
          description: Authentication successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /create-profile:
    post:
      summary: Create user profile after authentication
      tags: [Users]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProfileRequest'
      responses:
        '201':
          description: Profile created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          description: Handle already taken
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /check-handle:
    get:
      summary: Check if handle is available
      tags: [Users]
      parameters:
        - name: handle
          in: query
          description: Handle to check (case-insensitive, stored as lowercase)
          required: true
          schema:
            type: string
            pattern: '^[a-zA-Z0-9._]{3,30}$'
      responses:
        '200':
          description: Handle availability status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckHandleResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /get-current-profile:
    get:
      summary: Get current user profile
      tags: [Users]
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Current user profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Profile not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /update-profile:
    patch:
      summary: Update current user profile
      tags: [Users]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProfileRequest'
      responses:
        '200':
          description: Profile updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /feed/for-you:
    get:
      summary: Get For You feed
      tags: [Feed]
      security:
        - bearerAuth: []
      parameters:
        - name: cursor
          in: query
          description: Pagination cursor
          required: false
          schema:
            type: string
        - name: limit
          in: query
          description: Number of posts to return
          required: false
          schema:
            type: integer
            default: 20
            maximum: 50
      responses:
        '200':
          description: Feed posts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /feed/following:
    get:
      summary: Get Following feed (chronological)
      tags: [Feed]
      security:
        - bearerAuth: []
      parameters:
        - name: cursor
          in: query
          description: Pagination cursor (ISO 8601 timestamp)
          required: false
          schema:
            type: string
        - name: limit
          in: query
          description: Number of posts to return
          required: false
          schema:
            type: integer
            default: 20
            maximum: 50
      responses:
        '200':
          description: Following feed posts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FollowingFeedResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /users/{userId}:
    get:
      summary: Get user profile by ID
      tags: [Users]
      parameters:
        - name: userId
          in: path
          description: User ID (UUID)
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: User profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfileWithStats'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /users/{userId}/posts:
    get:
      summary: Get posts by user ID
      tags: [Users]
      parameters:
        - name: userId
          in: path
          description: User ID (UUID)
          required: true
          schema:
            type: string
            format: uuid
        - name: cursor
          in: query
          description: Pagination cursor (ISO 8601 timestamp)
          required: false
          schema:
            type: string
        - name: limit
          in: query
          description: Number of posts to return
          required: false
          schema:
            type: integer
            default: 20
            maximum: 50
      responses:
        '200':
          description: User posts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserPostsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /posts/create:
    post:
      summary: Create a new post
      tags: [Posts]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePostRequest'
      responses:
        '201':
          description: Post created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Post'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /posts/{id}/edit:
    patch:
      summary: Edit an existing post (within 15 minutes)
      tags: [Posts]
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Post ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EditPostRequest'
      responses:
        '200':
          description: Post updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Post'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Edit window expired or not post owner
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Post not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /posts/{id}:
    delete:
      summary: Delete a post
      tags: [Posts]
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Post ID
      responses:
        '200':
          description: Post deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Not post owner
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Post not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /posts/{id}/edit-history:
    get:
      summary: Get edit history for a post
      tags: [Posts]
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Post ID
      responses:
        '200':
          description: Edit history retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PostEdit'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Post not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /link-preview:
    post:
      summary: Fetch link preview metadata
      tags: [Posts]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - url
              properties:
                url:
                  type: string
                  format: uri
      responses:
        '200':
          description: Link preview fetched successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinkPreview'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /posts/{id}/like:
    post:
      summary: Toggle like on a post (idempotent)
      tags: [Posts]
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Post ID
      responses:
        '200':
          description: Like toggled successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LikeResult'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Post not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /posts/{id}/repost:
    post:
      summary: Toggle repost on a post (idempotent)
      tags: [Posts]
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Post ID
      responses:
        '200':
          description: Repost toggled successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RepostResult'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Post not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /posts/{id}/share-url:
    get:
      summary: Get shareable deep link for a post
      tags: [Posts]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Post ID
      responses:
        '200':
          description: Share URL retrieved
          content:
            application/json:
              schema:
                type: object
                required:
                  - url
                properties:
                  url:
                    type: string
                    format: uri
                    example: "https://agora.app/p/abc123"
        '404':
          description: Post not found
        '500':
          $ref: '#/components/responses/InternalServerError'

  /create-reply:
    post:
      summary: Create a reply to a post
      tags: [Posts]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - parentPostId
                - text
              properties:
                parentPostId:
                  type: string
                  description: Root post ID being replied to
                replyToCommentId:
                  type: string
                  nullable: true
                  description: Optional specific comment ID being replied to (for nested replies)
                text:
                  type: string
                  maxLength: 280
                  description: Reply text content (1-280 characters)
                attestation:
                  type: string
                  nullable: true
                  description: Device attestation token
      responses:
        '201':
          description: Reply created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Post'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Parent post not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /get-replies:
    get:
      summary: Get all replies for a post
      tags: [Posts]
      parameters:
        - name: postId
          in: query
          required: true
          schema:
            type: string
          description: Post ID to fetch replies for
      responses:
        '200':
          description: Replies retrieved successfully
          content:
            application/json:
              schema:
                type: object
                required:
                  - replies
                properties:
                  replies:
                    type: array
                    items:
                      $ref: '#/components/schemas/Post'
        '404':
          description: Post not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          $ref: '#/components/responses/InternalServerError'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    SWABeginRequest:
      type: object
      required:
        - nonce
      properties:
        nonce:
          type: string
          description: Random nonce for security

    SWABeginResponse:
      type: object
      required:
        - authUrl
      properties:
        authUrl:
          type: string
          format: uri
          description: Apple authentication URL

    SWAFinishRequest:
      type: object
      required:
        - identityToken
        - authorizationCode
      properties:
        identityToken:
          type: string
          description: Apple identity token
        authorizationCode:
          type: string
          description: Apple authorization code

    AuthResponse:
      type: object
      required:
        - accessToken
        - refreshToken
        - user
      properties:
        accessToken:
          type: string
          description: JWT access token
        refreshToken:
          type: string
          description: JWT refresh token
        user:
          $ref: '#/components/schemas/User'

    User:
      type: object
      required:
        - id
        - handle
        - displayHandle
        - displayName
        - createdAt
      properties:
        id:
          type: string
          format: uuid
        handle:
          type: string
          pattern: '^[a-z0-9_]{3,15}$'
          description: Canonical lowercase handle for uniqueness
        displayHandle:
          type: string
          description: User's preferred capitalization of handle
        displayName:
          type: string
        bio:
          type: string
        avatarUrl:
          type: string
          format: uri
        createdAt:
          type: string
          format: date-time

    CreateProfileRequest:
      type: object
      required:
        - handle
        - displayHandle
        - displayName
      properties:
        handle:
          type: string
          pattern: '^[a-z0-9._]{3,30}$'
          description: Canonical lowercase handle (3-30 chars, letters, numbers, periods, underscores). Instagram/Threads-style rules.
        displayHandle:
          type: string
          minLength: 3
          maxLength: 30
          description: User's preferred capitalization (e.g., "Rocky.Evans")
        displayName:
          type: string
          minLength: 1
          maxLength: 50
          description: Display name shown in profile
        avatarUrl:
          type: string
          format: uri
          description: Optional URL to user's avatar image in Supabase Storage

    UpdateProfileRequest:
      type: object
      properties:
        handle:
          type: string
          minLength: 3
          maxLength: 30
          pattern: '^[a-z0-9._]{3,30}$'
          description: Lowercase handle (validated server-side with 30-day change limit)
        displayHandle:
          type: string
          minLength: 3
          maxLength: 30
          description: User's preferred capitalization of handle
        displayName:
          type: string
          minLength: 1
          maxLength: 50
        bio:
          type: string
          maxLength: 160
        avatarUrl:
          type: string
          format: uri
          nullable: true
          description: Avatar URL from Supabase Storage, or null to remove avatar

    CheckHandleResponse:
      type: object
      required:
        - available
      properties:
        available:
          type: boolean
          description: Whether the handle is available
        suggestions:
          type: array
          items:
            type: string
          description: Suggested alternative handles if unavailable

    Post:
      type: object
      required:
        - id
        - authorId
        - authorDisplayHandle
        - text
        - createdAt
      properties:
        id:
          type: string
        authorId:
          type: string
          format: uuid
        authorDisplayHandle:
          type: string
          description: Author's unique handle with their preferred capitalization
        authorDisplayName:
          type: string
          nullable: true
          description: Author's display name
        authorAvatarUrl:
          type: string
          format: uri
          nullable: true
          description: Author's avatar URL
        text:
          type: string
          maxLength: 280
          description: Post text content (1-280 characters)
        linkUrl:
          type: string
          format: uri
          nullable: true
        mediaBundleId:
          type: string
          nullable: true
        replyToPostId:
          type: string
          nullable: true
        quotePostId:
          type: string
          nullable: true
        likeCount:
          type: integer
          minimum: 0
        repostCount:
          type: integer
          minimum: 0
        replyCount:
          type: integer
          minimum: 0
        shareCount:
          type: integer
          minimum: 0
          description: Number of times this post has been shared (one per user)
        visibility:
          type: string
          enum: [public, followers, private]
        createdAt:
          type: string
          format: date-time
        editedAt:
          type: string
          format: date-time
          nullable: true
          description: Timestamp of last edit (null if never edited)
        selfDestructAt:
          type: string
          format: date-time
          nullable: true
          description: Scheduled deletion time (null if not scheduled)
        canEdit:
          type: boolean
          description: Whether post can still be edited (within 15 minutes of creation)
        isLikedByViewer:
          type: boolean
          description: Whether the current user has liked this post (non-optional, defaults to false)
          default: false
        isRepostedByViewer:
          type: boolean
          description: Whether the current user has reposted this post (non-optional, defaults to false)
          default: false

    EnhancedPost:
      allOf:
        - $ref: '#/components/schemas/Post'
        - type: object
          properties:
            score:
              type: number
              format: float
              description: Recommendation score for this post
            reasons:
              type: array
              description: Transparent reasoning for why this post appears
              items:
                type: object
                required:
                  - signal
                  - weight
                properties:
                  signal:
                    type: string
                    description: Signal name (e.g., 'fresh', 'quality', 'relation')
                  weight:
                    type: number
                    format: float
                    description: Weight contribution of this signal
            explore:
              type: boolean
              description: Whether this post is from the exploration pool

    FeedResponse:
      type: object
      required:
        - posts
      properties:
        pageId:
          type: string
          format: uuid
          nullable: true
          description: Unique identifier for this page of results
        posts:
          type: array
          items:
            $ref: '#/components/schemas/EnhancedPost'
        nextCursor:
          type: string
          nullable: true

    FollowingFeedResponse:
      type: object
      required:
        - posts
      properties:
        posts:
          type: array
          items:
            $ref: '#/components/schemas/Post'
        nextCursor:
          type: string
          nullable: true
          description: ISO 8601 timestamp for pagination

    UserProfileWithStats:
      allOf:
        - $ref: '#/components/schemas/User'
        - type: object
          required:
            - followerCount
            - followingCount
            - postCount
            - isCurrentUser
            - isFollowing
          properties:
            followerCount:
              type: integer
              minimum: 0
              description: Number of users following this profile
            followingCount:
              type: integer
              minimum: 0
              description: Number of users this profile follows
            postCount:
              type: integer
              minimum: 0
              description: Number of public posts by this user
            isCurrentUser:
              type: boolean
              description: Whether this profile belongs to the authenticated user
            isFollowing:
              type: boolean
              description: Whether the authenticated user follows this profile

    UserPostsResponse:
      type: object
      required:
        - posts
      properties:
        posts:
          type: array
          items:
            $ref: '#/components/schemas/Post'
        nextCursor:
          type: string
          nullable: true
          description: ISO 8601 timestamp for pagination

    CreatePostRequest:
      type: object
      required:
        - text
      properties:
        text:
          type: string
          minLength: 1
          maxLength: 280
          description: Post text content
        mediaBundleId:
          type: string
          nullable: true
          description: ID of uploaded media bundle (if any)
        linkUrl:
          type: string
          format: uri
          nullable: true
          description: Link URL to include in post
        quotePostId:
          type: string
          nullable: true
          description: ID of post being quoted
        replyToPostId:
          type: string
          nullable: true
          description: ID of post being replied to
        selfDestructAt:
          type: string
          format: date-time
          nullable: true
          description: When post should auto-delete (24h, 3d, or 7d from now)

    EditPostRequest:
      type: object
      required:
        - newText
      properties:
        newText:
          type: string
          minLength: 1
          maxLength: 280
          description: Updated post text

    PostEdit:
      type: object
      required:
        - id
        - postId
        - previousText
        - editedAt
        - editedBy
      properties:
        id:
          type: string
          format: uuid
        postId:
          type: string
          description: ID of the post that was edited
        previousText:
          type: string
          description: Text content before the edit
        editedAt:
          type: string
          format: date-time
          description: When the edit occurred
        editedBy:
          type: string
          description: User ID who made the edit

    LinkPreview:
      type: object
      required:
        - url
      properties:
        url:
          type: string
          format: uri
          description: The URL that was previewed
        title:
          type: string
          nullable: true
          description: Page title (from og:title or <title>)
        description:
          type: string
          nullable: true
          description: Page description (from og:description or meta description)
        imageUrl:
          type: string
          format: uri
          nullable: true
          description: Preview image URL (from og:image)
        siteName:
          type: string
          nullable: true
          description: Site name (from og:site_name or hostname)

    MediaBundle:
      type: object
      required:
        - id
        - type
      properties:
        id:
          type: string
          description: Media bundle ID
        type:
          type: string
          enum: [image, video]
          description: Type of media
        urls:
          type: array
          items:
            type: string
            format: uri
          description: Array of media URLs (up to 4 for images, 1 for video)
        width:
          type: integer
          nullable: true
          description: Media width in pixels
        height:
          type: integer
          nullable: true
          description: Media height in pixels
        durationSec:
          type: integer
          nullable: true
          description: Video duration in seconds

    LikeResult:
      type: object
      required:
        - isLiked
        - likeCount
      properties:
        isLiked:
          type: boolean
          description: Whether the current user now likes the post
        likeCount:
          type: integer
          minimum: 0
          description: Updated total like count

    RepostResult:
      type: object
      required:
        - isReposted
        - repostCount
      properties:
        isReposted:
          type: boolean
          description: Whether the current user now has reposted the post
        repostCount:
          type: integer
          minimum: 0
          description: Updated total repost count

    Error:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: integer
          description: HTTP status code
        message:
          type: string
          description: Error message
        details:
          oneOf:
            - type: string
            - type: object
          description: Additional error details (string or object)

  responses:
    BadRequest:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    InternalServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
