<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANALYTICS_WRITE_KEY</key>
	<string>$(ANALYTICS_WRITE_KEY)</string>
	<key>API_BASE_URL</key>
	<string>$(API_BASE_URL)</string>
	<key>APP_GROUP</key>
	<string>$(APP_GROUP)</string>
	<key>KEYCHAIN_GROUP</key>
	<string>$(KEYCHAIN_GROUP)</string>
	<key>SUPABASE_ANON_KEY</key>
	<string>$(SUPABASE_ANON_KEY)</string>
	<key>SUPABASE_URL</key>
	<string>$(SUPABASE_URL)</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
		<string>background-processing</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>AccentColor</string>
	</dict>
	<key>UNIVERSAL_LINKS_HOST</key>
	<string>$(UNIVERSAL_LINKS_HOST)</string>
	<key>WEBSOCKET_URL</key>
	<string>$(WEBSOCKET_URL)</string>
</dict>
</plist>
